.join{
    display: flex; 
    padding: 0 2rem;
    gap: 10rem;
}
.join .left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.join .left-j hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}
.join .left-j div{
    display: flex;
    gap: 1rem;
}
.join .right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.join .right-j .email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}
.join .right-j .email-container input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgrayz);
}
.join .right-j .email-container input::placeholder{
    background-color: var(--lightgray);
}
.join .right-j .email-container .btn-j{
    background-color: var(--orange);
    color: white;
    
}